<%= form_for @message, department: "info@samraines.com" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :subject, "Subject: " %>
    <%= f.text_field :subject, placeholder: "Sam Raines Music" %><br>

    <%= f.label :email, "From: " %>
    <%= f.email_field :email, placeholder: "your@email.com" %><br>

    <%= f.label :name, "Name (optional)" %>
    <%= f.text_field :name %><br>

    <div style="resize: vertical">
      <%= f.text_area :body, class: "wysihtml5", rows: 8,
            placeholder: "Type your message" %>
    </div><br>

    <%= f.hidden_field :department  %>

  <%= f.submit "Send", class: "btn btn-success" %>
<% end %>
