<ul class="nav">
  <li><%= link_to "News", :articles %></li>
  <li><%= link_to "Shows", :shows %></li>
  <li><%= link_to "Music", :music %></li>
  <li><%= link_to "Writings", :main_blog %></li>
  <li><%= link_to "Discover", :main_discover %></li>
  <li><%= link_to "Contact", :contact %></li>
</ul>
